{% extends "layout.html" %}

{% block body %}
<form method="GET" action ={{ url_for('update_char') }}>
    
<table class="table">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Server</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {%for char in chars%}
        <tr>
            <td>{{char.name}}</td>
            <td>{{char.char_class}}</td>
            <td>{{char.server}}</td>
            <td>
                <button name="update" value={{char.id}} type="submit">Update</button>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>

</form>



    {% endblock %}