{% extends "layout.html" %}

{% block body %}
<p>
    Saved matches.
    
    <br> I didn't have time yet to make this not look terrible, but In the future these will be grouped by which log
    they are from, with additional information, like date etc.
    <br>
    Note, Database has functionality for deleting a log file, and all matches associated with it, but this is not
    currently supported by the gui
    {%for log in logs%}
    <br>
    ----------------
    <br>
    <td><b>{{log.date}}</b></td>
    {%for match in log.matches%}
    <br>
    <td><b>{{match.start_string}} - {{match.end_string}}</b></td>
    <br>
    
    {% if match.round1 %}
    round 1 win
    <br>
    {% else %}
    round 1 loss
    <br>
    {% endif %}
    {% if match.round2 %}
    round 2 win
    <br>
    {% else %}
    round 2 loss
    <br>
    {% endif %}
    {% if match.round3 is not none %}

    {% if match.round3 %}
    round 3 win
    <br>
    {% else %}
    round 3 loss
    <br>
    {% endif %}


    {% else %}
    round 3 not played

    {% endif %}
    
    {% endfor %}
    {% endfor %}
</p>
{% endblock %}
