{% extends "layout.html" %}

{% block body %}
<p>
    Saved matches. 
    <br>Placeholder so looks really dumb atm, the matches are not in any order (they are probably in the same order as put into the database, as they are queried by an unordered SELECT)
    <br> I didn't have time yet to make this not look terrible, but In the future these will be grouped by which log they are from, with additional information, like date etc.
    <br>
    Note, Database has functionality for deleting a log file, and all matches associated with it, but this is not currently supported by the gui
    {%for log in logs%}
    <br>
    ----------------
    <br>
        {%for match in log%}

        <td>{{ match }}</td>
        <br>
        {% endfor %}
    {% endfor %}
</p>
{% endblock %}