{% extends "layout.html" %}

{% block body %}
<p>
    
    <div class="container ml- -1">
      <p> Saved matches</p>
    {%for log in logs%}
    
    <button class="btn btn-light" data-toggle="collapse" data-target={{"#" ~ log.id}}>{{log.date}},  {{log.char}}</button>

    <p><div id={{log.id}} class="collapse"></p>

  <form method="POST" action={{ url_for('delete_log', log_id=log.id) }}>
    <input type="submit" value="Delete"/>
  </form>
  {%for match in log.matches%}
  <br>
  <td><b>{{match.start_string}} - {{match.end_string}}</b></td>
  <br>
  Team : {{match.team_string}}
  <br>
  Enemy Team : {{match.opponent_string}}
  <br>
  {% if match.round1 %}
  round 1 win
  <br>
  {% else %} 
  round 1 loss
  <br>
  {% endif %}
  {% if match.round2 %}
  round 2 win
  <br>
  {% else %}
  round 2 loss
  <br>
  {% endif %}
  {% if match.round3 is not none %}

  {% if match.round3 %}
  round 3 win
  <br>
  {% else %}
  round 3 loss
  <br>
  {% endif %}


  {% else %}
  round 3 not played

  {% endif %}
  
  {% endfor %}
</div> 

    {% endfor %}
  </div> 
</p>
{% endblock %}