{% extends "layout.html" %}

{% block body %}

<form method="POST" action="/newlog">
    <table class=".table-borderless">
        <tbody>
            <thead>
                
            </thead>
        {% for match in matches %}
        <tr>
            <td><p class="font-weight-bold">{{match.start_string}} - {{match.end_string}}</p></td>
            
        </tr>
        <td>Character: {{player}}</td>
        <tr>
            
        </tr>
        <tr>
            <td>Team : {{match.team_string}}</td>
        </tr>
        <tr>
            <td> Enemy Team : {{match.opponent_string}}</td>
        </tr>
        <tr>
            <td>{{form.round1}}</td>


        </tr>
        <tr>
            <td>  {{form.round2}}

        </tr>
        <tr>
            {% if match.round3 is not none %}

            

            <td>{{form.round3}}</td>

            {% else %}
            round 3 not played

            {% endif %}
        </tr>
        <tr>
            <td></td>  

        </tr>
        {% endfor %}
        <input type="submit" value="Submit">
    </tbody>
    </table>
</form>

{% endblock %}