{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('upload_log') }}" enctype="multipart/form-data" >
  <table>
    <tr>

      <td>
        {{ form.log }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Upload Log" />
      </td>

    </tr>

  </form>
    {% if matches is defined %}

<br>

<form method="POST" action="/newlog">
  <!-- TODO make this more user friendly -->
  <!-- TODO validate input (round 3 can only be played if round1 != round2) -->
  Date
  <br>
  <input type="date" name="date" required>
  <br>
  <input type="hidden" id="size" name="size" value={{size}}>
  <input type="hidden" id="team" name="team" value={{size}}>
  <input type="hidden" id="opponent" name="opponent" value={{size}}>
  {% for match in matches %}
  <br>
  <b>{{match.start_string}} - {{match.end_string}}</b>
  <br>
  <input type="hidden" id={{ match.number ~ "start" }} name={{ match.number ~ "start" }} value={{match.start}}>
  <input type="hidden" id={{ match.number ~ "end" }} name={{ match.number ~ "end" }} value={{match.end}}>
  round 1
  <select name={{ match.number ~ "round1" }} required>
    <option value="1">win</option>
    <option value="0">loss</option>
  </select>

  <br>
  round 2
  <select name= {{ match.number ~ "round2" }} required>
    <option value="1">win</option>
    <option value="0">loss</option>
  </select>
  <br>
  {% if match.round3 is not none %}
  
  round 3
  
  <select name={{ match.number ~ "round3" }} required>
    <option value="1">win</option>
    <option value="0">loss</option>
    <option value="2">not played</option>
  </select>
  <br>
  {% else %}
  round 3 not played
  <br>
  {% endif %}
  <br>
  {% endfor %}
  <input type="submit" value="Submit">
</form>

{% endif %}


<td>
  {{error}}
</td>


{% endblock %}