{% extends "layout.html" %}

{% block body %}

<form action="{{ url_for('login_auth') }}" method="get">
      <button name="Login" type="submit">Login</button>
  
    </form>
    <br>
{{ error }}
<form method="POST" action="{{ url_for('register') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Register"/>
      </td>
    </tr>
</form>


{% endblock %}